---
layout: default
hero: true
---


<div id="about" class="about-module jumptarget">
	<h1>Gather 'Round</h1>
	<p>At Hearth, we want you to feel at home. Our menu features beautiful, flavorful food made with fresh local ingredients. We serve brunch, lunch, and dinner, and Hearth's comfortable atmosphere is as perfect for savouring your morning coffee as it is for laughing late into the night with friends and great wine around our luxurious fireplace.</p>
</div>

<div id="menu" class="menu-module jumptarget">
	<ul class="tabs">
		<li><a href="#dinner">Dinner</a></li>
		<li><a href="#lunch">Lunch</a></li>
		<li><a href="#brunch">Brunch</a></li>
		<li><a href="#dessert">Dessert</a></li>
		<li><a href="#drinks">Drinks</a></li>
	</ul>

	<div id="dinner" class="menu">
	  <h2 class="super-category">Dinner</h2>
	  {% include salad.html %}
	  {% include shared.html %}
	  {% include sides.html %}
	  {% include mains.html %}
	  {% include sandwiches.html %}
	</div>

	<div id="lunch" class="menu">
	  <h2 class="super-category">Lunch</h2>
	  {% include salad.html %}
	  {% include shared.html %}
	  {% include sides.html %}
	  {% include sandwiches.html %}
	</div>

	<div id="brunch" class="menu">
	  <h2 class="super-category">Brunch</h2>
	  {% include eggs.html %}
	  {% include griddle.html %}
	  {% include sandwiches.html %}
	</div>

	<div id="dessert" class="menu">
	  <h2 class="super-category">Dessert</h2>
	  {% include dessert.html %}
	  {% include pie.html %}
	  {% include shakes.html %}
	</div>

	<div id="drinks" class="menu">
	  <h2 class="super-category">Drinks</h2>
	  {% include cocktails.html %}
	  {% include beer.html %}
	  {% include red-wine.html %}
	  {% include white-wine.html %}
	</div>
</div>

<div id="say-hello" class="contact-module jumptarget">
	<h1>Say Hello</h1>
	<p>We'd love to hear from you</p>

	<form id="contact">
		<div class="first-name">
			<label for="first-name">First Name</label>
			<input type="text" id="first-name">
		</div>
		<div class="last-name">
			<label for="last-name">Last Name</label>
			<input type="text" id="last-name">
		</div>
		<label for="email">Your Email</label>
		<input type="email" id="email">

		<label for="subject">Subject</label>
		<input type="text" id="subject">

		<label for="message">Message</label>
		<textarea id="message"></textarea>

		<!--<label class="newsletter-label">
			<input type="checkbox" id="newsletter" checked>
			Subscribe to our newsletter
		</label>-->

		<input type="submit" id="contact-submit" value="Contact Us"</a>
	</form>
</div>

<!--<div id="map_canvas"></div>-->