---
layout: menu
title: Dinner Menu
permalink: /menu.html
---

<!--<h2 class="super-category">Dinner</h2>

<h3 class="category">Mains</h3>

{% for mains in site.data.mains %}
  <article class="food-item">
    <p class="food-name">{{ mains.name }} <span class="price">{{ mains.price }}</span></p>
    <p class="food-description">{{ mains.description }}</p>
  </article>

{% endfor %}

<h3 class="category">Sandwiches</h3>

{% for sandwiches in site.data.sandwiches %}
  <article class="food-item">
    <p class="food-name">{{ sandwiches.name }} <span class="price">{{ sandwiches.price }}</span></p>
    <p class="food-description">{{ sandwiches.description }}</p>
  </article>

{% endfor %}
-->

<ul class="tabs">
  <li><a href="#dinner">Dinner</a></li>
  <li><a href="#lunch">Lunch</a></li>
  <li><a href="#brunch">Brunch</a></li>
  <li><a href="#dessert">Dessert</a></li>
  <li><a href="#drinks">Drinks</a></li>
</ul>

<div id="dinner" class="menu">
  <h2 class="super-category">Dinner</h2>
  {% include cocktails.html %}
  {% include beer.html %}
  {% include beer.html %}
</div>

<div id="lunch" class="menu">
  <h2 class="super-category">Lunch</h2>
  {% include cocktails.html %}
  {% include beer.html %}
  {% include beer.html %}
</div>

<div id="brunch" class="menu">
  <h2 class="super-category">Brunch</h2>
  {% include cocktails.html %}
  {% include beer.html %}
  {% include beer.html %}
</div>

<div id="dessert" class="menu">
  <h2 class="super-category">Dessert</h2>
  {% include cocktails.html %}
  {% include beer.html %}
  {% include beer.html %}
</div>

<div id="drinks" class="menu">
  <h2 class="super-category">Drinks</h2>
  {% include cocktails.html %}
  {% include beer.html %}
  {% include red-wine.html %}
  {% include white-wine.html %}
</div>

<!--<ul class="accordion-tabs">
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="is-active tab-link">Dinner</a>
    <div class="tab-content">
      <h2 class="super-category">Dinner</h2>
      {% include cocktails.html %}
      {% include beer.html %}
      {% include beer.html %}
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link">Lunch</a>
    <div class="tab-content">
      <h2 class="super-category">Lunch</h2>
      {% include cocktails.html %}
      {% include beer.html %}
      {% include beer.html %}
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link">Brunch</a>
    <div class="tab-content">
      <h2 class="super-category">Brunch</h2>
      {% include cocktails.html %}
      {% include beer.html %}
      {% include beer.html %}  
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link">Dessert</a>
    <div class="tab-content">
      <h2 class="super-category">Dessert</h2>
      {% include cocktails.html %}
      {% include beer.html %}
      {% include beer.html %}
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link">Drinks</a>
    <div class="tab-content">
      <h2 class="super-category">Drinks</h2>
      {% include cocktails.html %}
      {% include beer.html %}
      {% include red-wine.html %}
      {% include white-wine.html %}
    </div>
  </li>
</ul>-->
