.about-module
  +outer-container(80%)
  margin-top: $spacing-unit
  padding-bottom: $spacing-unit * 4
  
  h1
    font-family: $base-font
    font-size: 6em
    color: $purple
    margin-bottom: 0

  p
    color: $brown
    font-size: 1.3em
    line-height: 1.8em
    margin-top: 0