.site-footer
  +span-columns(12)
  //margin-top: $spacing-unit
  padding: $spacing-unit $spacing-half
  background: $purple
  color: $white

.visit,
.hours,
.newsletter
  +span-columns(3 of 12)
  +shift(1)

  h3
    text-transform: uppercase

.visit
  padding-left: $spacing-unit

address
  font-style: normal

.hours
  p
    margin: 0

.newsletter
  +omega
  padding-right: $spacing-unit

#subscribe
  color: $white

  input
    border: 1px solid $white
    background: $purple
    padding: 10px 10px

  input[type=text]
    margin-bottom: $spacing-half
    width: 100%

  input[type=email]
    width: 65%
    margin-right: 3%

  input[type=submit]
    width: 30%
    font-family: $heading-font
    text-transform: uppercase

    &:hover
      background: $white
      color: $purple

.footer-nav
  +span-columns(12)
  display: flex
  justify-content: center
  margin-top: $spacing-unit
  margin-bottom: $spacing-half

  a
    color: $white
    padding: $spacing-half $spacing-unit
    font-family: $heading-font
    text-transform: uppercase
    font-size: 1em

    &:hover
      text-decoration: none
      background: $white
      color: $purple

.attribution
  +span-columns(12)
  text-align: center
  font-size: 0.8em

  a
    color: $white