.menu-module
  +outer-container(100%)
  background: $purple
  color: $cream
  padding-bottom: $spacing-unit

.tabs
  margin-top: $spacing-unit
  +span-columns(10)
  +shift(1)
  padding: 0
  +display(flex)
  +justify-content(space-around)
  +align-items(stretch)
  height: 70px
  border-bottom: 1px solid $brown

  @media (max-width: $xsmall)
    margin-top: 0

  li 
    list-style: none

  a 
    text-align: center
    color: $brown
    font-family: $heading-font
    font-size: 1.1em
    line-height: 69px

    &:hover
      text-decoration: none
      color: $tan

  .active
    color: $cream
    border-bottom: 2px solid $cream

.menu
  +span-columns(10)
  +shift(1)
  +columns(2)
  +column-gap($spacing-unit * 2)
  margin-top: $spacing-half
  margin-bottom: $spacing-unit

  @media (max-width: $small)
    +columns(1)
    margin-top: 0

.super-category
  color: $cream
  font-size: 2em
  font-weight: bold
  text-align: center
  letter-spacing: 10px
  text-transform: uppercase
  margin-bottom: $spacing-unit

.category 
  color: $cream
  font-family: $base-font
  font-size: 1.4em
  font-style: italic
  margin-top: 20px
  margin-bottom: 5px

.food-item
  margin-bottom: $spacing-half

.food-name
  font-family: $heading-font
  color: $cream
  text-transform: uppercase
  letter-spacing: 1px
  margin: 0

.price
  color: $red
  font-family: $base-font

.food-description
  color: $tan
  margin: 0